{% extends "layout.html" %}

{% block header_title %}

<a class="page-title">Standard Query</a>

{% endblock %}

{% block body %}
  <div class="col s12 m12 l12">
    <div class="container" id="message-board-container">
      
    </div>
  </div>


<div id="first_error_modal" class="modal">
	<div class="modal-content">
	  <h4>Error</h4>
	  <p id="first_error_msg"></p>
	</div>
	<div class="modal-footer">
	  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>

{% endblock %}