<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>WikiQuery</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css"> -->
  <!-- <link type="text/css" rel="stylesheet" href="../static/css/index.css"> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../static/js/lib/materialize.min.js"></script>
  
</head>
<body>
    <div class="row">
      <div class="col s3">
        
    <ul id="slide-out" class="side-nav fixed">
      <li>WikiQuery</li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect">Standard Query</a></li>
      <li><a class="waves-effect">Natural Language Query</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Resources</a></li>
      <li><a class="waves-effect" href="#!">Github</a></li>
      <li><a class="waves-effect" href="#!">Material Design</a></li>
    </ul>
      </div>
      <div class="col s9">
        <div class="navbar-fixed">
          <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">WikiQuery</a>
            </div>
          </nav>
        </div>
        <div class="container" id="message-board-container">
          
        </div>
      </div>
      <footer id="footer">
        <div class="mui-container-fluid">
          <br>
          Made with ♥ by <a href="https://www.muicss.com">MUI</a>
        </div>
      </footer>
    </div>

   <script type="text/javascript" src="../static/js/build/bundle.js"></script>
</body>
</html>