<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>WikiQuery</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../static/css/layout.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/lib/materialize.min.js"></script>
  <script type="text/javascript" src="../static/js/lib/xregexp-all-min.js"></script>
  <script type="text/javascript" src="../static/js/lib/parser.js"></script>
  
</head>

<body>
  <header>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper">
          {% block header_title %}{% endblock %}
        </div>
      </div>
    </nav>
    <div class="container">
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav fill hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
      <li class="logo">
        <a id="logo-container" class="brand-logo" href="/">
          WikiQuery
        </a>
      </li>
      <li><div class="divider"></div></li>
      <li class=""><a href="/" class="waves-effect waves-teal">Standard Query</a></li>
      <li class=""><a href="/nlq" class="waves-effect waves-teal">Natural Language Query</a></li>
      <li><div class="divider"></div></li>
      <li class=""><a class="subheader">Resources</a></li>
      <li class=""><a class="waves-effect waves-teal" href="https://github.com/Hunter-Lin/WikiQuery/">Github</a></li>
      <li class=""><a class="waves-effect waves-teal" href="http://materializecss.com/">Material Design</a></li>
    </ul>
  </header>
  <main>
    <div class="container">
      <div class="row query-container">
        {% block body %}{% endblock %}
      </div>
    </div>
    <div id="error_modal" class="modal">
      <div class="modal-content">
        <h4>Oooops!</h4>
        <p id="error_msg"></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">It's alright</a>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="../static/js/build/bundle.js"></script>
</body>
</html>