{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col s3">
      
  <ul id="slide-out" class="side-nav fixed">
    <li>WikiQuery</li>
    <li><div class="divider"></div></li>
    <li><a href="/" class="waves-effect">Standard Query!</a></li>
    <li><a href="/nlq" class="waves-effect">Natural Language Query</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Resources</a></li>
    <li><a class="waves-effect" href="#!">Github</a></li>
    <li><a class="waves-effect" href="#!">Material Design</a></li>
  </ul>
    </div>
    <div class="col s9">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">WikiQuery</a>
          </div>
        </nav>
      </div>
      <div class="container" id="nlq-container">
        
      </div>
    </div>
  </div>

{% endblock %}